<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature android:name="android.hardware.nfc.hce" android:required="false"/>
    <uses-permission android:name="android.permission.NFC"/>
    <application>
        <service android:name=".hce.NfcType4TagNdefEmulationService"
            android:permission="android.permission.BIND_NFC_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.nfc.cardemulation.action.HOST_APDU_SERVICE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="android.nfc.cardemulation.host_apdu_service"
                android:resource="@xml/nfc_type4_tag_emulation"/>
        </service>
    </application>
</manifest>